:root {
  --color-primary: #00baf2;
  --color-secondary: #002970;
  --color-black: #000;
  --color-white: #fff;
  --color-grey: #eee;

  --standard-padding: 5vw;

  --navbar-height: calc(4rem + 4vw);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: var(--color-black);
  font-size: calc(1.25rem + 0.25vw);
}

a {
  text-decoration: none;
}

/* utilities */
.container {
  padding: calc(1rem + 1vw) var(--standard-padding);
}

.toggle-element-view {
  display: none;
}

.btn {
  font-family: inherit;
  border: none;
  border-radius: 5rem;

  display: flex;
  align-items: center;
}

.btn:hover {
  cursor: pointer;
}

.btn-black {
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 1.5rem 2.5rem;
  border: 1px solid transparent;
}

.btn-black:hover {
  border: 1px solid var(--color-black);
  background-color: var(--color-white);
  color: var(--color-black);
}

.btn-secondary {
  background-color: var(--color-secondary);
  color: var(--color-white);
  padding: 1.5rem 2.5rem;
  font-weight: 700;
  font-size: 1.5rem;
}

.btn-secondary:hover {
  background-color: var(--color-primary);
}

.heading-primary {
  font-size: calc(2.5rem + 1.5vw);
}

.heading-secondary {
  font-size: calc(2rem + 1.2vw);
}

.heading-tertiary {
  font-size: calc(0.65rem + 0.8vw);
}

/* custom styles */
#toggle-btn {
  border: none;
  background-color: var(--color-white);
  align-self: center;
  padding: 0.5rem;
  border-radius: 0.25rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}

#toggle-btn:hover {
  background-color: var(--color-grey);
  padding: 0.5rem;
  cursor: pointer;
}

#toggle-btn span {
  width: 2.5rem;
  height: 0.15rem;
  background-color: var(--color-black);
  border-radius: 0.5rem;

  transition: all 0.3s ease-in;
}

.toggle-btn-active span:nth-child(1) {
  transform: rotate(45deg) translate(0.5rem, 0.5rem);
}

.toggle-btn-active span:nth-child(2) {
  transform: translateX(-2000%);
}

.toggle-btn-active span:nth-child(3) {
  transform: rotate(-45deg) translateY(-0.5rem) translateX(0.35rem);
}

.nav {
  position: fixed;
  background-color: var(--color-white);
  width: 100%;
  z-index: 1000;

  display: flex;
  justify-content: space-between;

  font-size: 1.5rem;
  font-weight: 700;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}

.nav-brand {
  display: flex;
  align-items: center;
}

.nav-brand img {
  height: calc(2rem + 2vw);
}

.nav ul {
  list-style: none;

  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav ul {
  padding: 0;
}

.nav ul li a {
  color: var(--color-black);
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
}

.nav ul li a:hover {
  background-color: rgba(0, 41, 112, 0.05);
}

.navlinks-active {
  transform: translateX(0) !important;
}

.btn-signin {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: calc(0.15rem + 0.15vw) calc(0.1rem + 0.15vw) calc(0.15rem + 0.15vw)
    calc(0.75rem + 0.5vw);
  border-radius: 5rem;

  align-self: center;
}

.btn-signin:hover {
  background-color: var(--color-secondary);
}

.btn-signin img {
  margin-left: calc(0.35rem + 0.25vw);
  width: 25%;
}

/* main styles */

.main {
  transform: translateY(var(--navbar-height));
  position: relative;
}

.appeal {
  display: flex;
  gap: 1rem;
  justify-content: center;

  padding: 1.5rem !important;
  background-color: var(--color-grey);
}

.appeal a {
  font-weight: 700;
  color: var(--color-black);
}

/* hero styles */

.hero {
  padding: calc(7.5rem + 2.5vw) 0 calc(7.5rem + 2.5vw) calc(7.5rem + 2.5vw);

  display: flex;
  justify-content: space-between;
  gap: calc(7.5rem + 7.5vw);
}

.hero__desc .paytm-img {
  width: calc(3.5rem + 2.5vw);
  margin-bottom: 2.5rem;
}

.hero__desc h1 {
  margin-bottom: 1rem;
}

.hero__desc p {
  margin-bottom: 1.5rem;
}

.hero__img {
  width: 60vmin;
}

/* payment-types styles */
.payment-types {
  padding: calc(3.5rem + 1.5vw) var(--standard-padding);
  color: var(--color-white);
}

.payment-types h2 {
  margin-bottom: 2.5rem;
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.payment-types__list {
  list-style: none;
  font-size: calc(1rem + 0.25vw);

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.payment-types__list--item {
  max-width: 15rem;
  padding: 1.5rem;
  padding-right: 3rem;
  line-height: 1.4;
}

.payment-types__list--item:hover {
  cursor: pointer;
}

.payment-types__list--item:hover {
  background-color: #01a0d0;
  border-radius: 1rem;
}

.payment-types__list--item a {
  color: var(--color-white);
  font-feature-settings: "Inter", sans-serif;
}

.payment-types__list--item a img {
  width: 6rem;
  margin-bottom: 1.5rem;
}

/* paytm-instruments styles */
.paytm-instruments {
  padding: calc(7.5rem + 2.5vw);

  background-color: var(--color-grey);
}

.custom-jumbotron {
  margin-top: 2.5rem;
  padding: calc(3.5rem + 2.5vw) var(--standard-padding);
  background-color: var(--color-white);
  border-radius: 1rem;

  display: flex;
  align-items: center;
}

.custom-jumbotron__desc div img {
  width: calc(5rem + 2.5vw);
}

.custom-jumbotron__img {
  align-self: center;
  width: 60%;
}

/* paytm-banking styles */
.paytm-banking {
  margin-top: 2.5rem;

  display: flex;
  gap: 2.5%;
}

.paytm-banking__card {
  background-color: var(--color-white);
  padding: calc((2.5rem + 1vw));
  padding-bottom: 0 !important;
  border-radius: 1rem;
  width: 48.75%;
}

.paytm-banking__card--img {
  width: calc(25rem + 2.5vw);
  margin: 0 auto;
  margin-bottom: 2.5rem;

  text-align: center;
}

/* fin-services styles */
.fin-services {
  padding: calc(7.5rem + 2.5vw);
}

.bg-with-img {
  background-image: url("./gray-spike.png");
  z-index: 1000;
}

footer {
  margin-top: 10rem;
  padding: calc(2.5rem + 1vw) var(--standard-padding);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer img {
  width: 17rem;
}

footer .downloads {
  display: flex;
  gap: 1.5rem;
}

footer .social {
  display: flex;
  gap: 2.5rem;
}

footer .social i {
  color: #ddd;
  font-size: calc(2rem + 1vw);
}

footer .social i:hover {
  cursor: pointer;
  color: var(--color-black);
}

/* mediaqueries */

@media screen and (max-width: 900px) {
  .appeal {
    display: none;
  }

  .nav ul {
    position: absolute;
    top: var(--navbar-height);
    left: 0;
    width: 100%;
    transition: all 0.3s ease-in;
    transform: translateX(-100%);
    background-color: var(--color-white);
    z-index: 100;

    flex-direction: column;
    gap: 0;
    align-items: flex-start;
  }

  .nav ul li {
    width: 100%;

    border-bottom: 1px solid var(--color-grey);
    z-index: 100;
  }

  .nav ul li a {
    padding: 1.5rem var(--standard-padding);
    display: block;
    border-radius: 0;
    z-index: 100;
  }
}

@media screen and (min-width: 900px) {
  #toggle-btn {
    display: none;
  }

  .toggle-element-view {
    display: inline-block;
  }
}

@media screen and (max-width: 850px) {
  .hero {
    flex-direction: column-reverse;
    align-items: center;
    gap: 2.5rem;
    text-align: center;
    padding: calc(7.5rem + 2.5vw);
  }

  .hero__desc {
    width: 70vmin;
  }

  .hero .paytm-img {
    display: none;
  }

  .hero button {
    margin: 0 auto;
  }

  .custom-jumbotron {
    flex-direction: column-reverse;
    align-items: center;
    gap: 2.5rem;
  }

  .custom-jumbotron__desc div {
    display: none !important;
  }

  .paytm-banking {
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
  }

  .paytm-banking__card {
    width: 100%;
  }

  .mod-jumbotron {
    flex-direction: column !important;
  }

  .hide {
    display: none;
  }

  footer {
    flex-direction: column;
    gap: 2.5rem;

    text-align: center;
    background-color: var(--color-grey);
  }

  footer img {
    width: 10rem;
  }

  footer .downloads {
    flex-direction: column;
  }
}

@media screen and (max-width: 290px) {
  .payment-types h2 {
    text-align: center;
  }

  .payment-types__list {
    justify-content: center;
  }
}
